* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-height: min-content;
}

.heading_container {
    background-color: rgba(255, 245, 231, 0.818);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 60px;
    gap: 20px;
}

.time-line-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.time-line-container h2 {
    padding: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
}

.timeline-cot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

span {
    color: gray;
}

.link-container {
    min-height: 50px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}